.grid-container {
  margin: 2rem;
  height: 100%;
  max-height: calc(100% - 64px);
  display: grid;
  
}
.panel-results {
  grid-area: panel-results;
}

.panel-start {
  grid-area: panel-start;
}

--calcite-dropdown-background-color{
  background-color: white;
}